/* =============
    Base
============= */

.container{
    display:grid;
    grid-template-columns:15px auto 15px;
    grid-template-areas: ". content ." ;
}

.content{
    grid-area: content;
}

.spring-box{
    background-color: #FF8CB6;
}

.easter-box{
    background-color: #FFB6D9;
}

.tiny-img{
    width: 77.48px;
    height: 77.48px;
}

.blue-one{
    background-color: #E2E5FF;
}

.blue-two{
    background-color: #E2E5FF;
}

.blue-header{
    color: black;
    font-size: 25px;
}

.footer-background{
    background-color: #765FD4;
}

.biggest-imgage{
    width: 100%;
}

.article-img{
    width: 320px;
    height: 163px;
    object-fit: cover;
}

.button-box{
    background-color: #FFB6D9;
}

.arrow-icon{
    width: 35px;
    height: 35px;
}

.phone-icon{
    width: 26px;
    height: 35.6px;
}

