/* =============
    Typography
============= */

body{
    font-family: 'Playfair Display', serif;
}

.what-new{
    color: gray;
    font-size: 20px;
}


a{
    color: black
}

a:hover{
    background-color: #765FD4;
}

.header1{
    font-size: 18px;
}

.p1{
    font-size: 16px;
}

.blue-header{
    font-size: 23px;
}

.button-box{
    font-size: 14px;
}

.article-head{
    font-size: 25px;
}

.white-text{
    color:white;
}

.big-text{
    font-size: 23px;
}

.mid-text{
    font-size: 16px;
}

.sm-text{
    font-size: 12px;
}