/* =============
    blue-extras
============= */


.blue-extras{
    @include md{
        .blue-container{
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-areas: 
                "box1 box2";
        }

        .box1{
            grid-area: content;
        }

        .box2{
            grid-area: content;
        }

    }

}