/* =============
    five-articles
============= */

.five-articles{

        .lavender{
            padding: 16px 16px 16px 16px;
        }

        .vintage{
            padding: 16px 16px 16px 16px;
        }

        .japan{
            padding: 16px 16px 16px 16px;
        }

        .family{
            padding: 16px 16px 16px 16px;
        }

        .gallery{
            padding: 16px 16px 16px 16px;
        }

    @include md{
        .article-con{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 433px 433px 433px;
            grid-template-areas:
                "lavender vintage"
                "japan family"
                "gallery";
        }
    }

    @include lg{
        .article-con{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 433px 433px;
            grid-template-areas:
                "lavender vintage japan "
                "family gallery";
        }
    }
}
