/* =============
    pink-banner
============= */

.pink-banner{
    @include md{
            .pink-container{
                display: grid;
                grid-template-columns:40% 60%;
                grid-template-areas:
                    "easter-box spring-box";
            }

            .spring-box{
                grid-area: content;
            }

            .easter-box{
                grid-area: content;
            }
    }
}