/* =============
    pink-banner
============= */

.pink-banner{
    @include md{
            .pink-container{
                display: grid;
                grid-template-columns:40% 60%;
                grid-template-areas:
                    "easter-box spring-box";
            }
    }

    @include lg{
        .pink-container{
            display: grid;
            grid-template-columns:50% 50%;
            grid-template-areas:
                "easter-box spring-box";
        }
    }
}