/* =============
    two-giants
============= */

.two-giants{
    @include md{
        .giant-container{
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-areas: 
                "img-one img-two";
        }

        .img-one{
            width: 383px;
            height: 594px;
            object-fit: cover;
        }

        .img-two{
            width: 383px;
            height: 594px;
            object-fit: cover;
        }
    }

    @include lg{
        .giant-container{
            display: grid;
            grid-template-columns: 593px 440px;
            grid-template-areas: 
                "img-one img-two";
        }

        .img-one{
            width: 593px;
            height: 594px;
            object-fit: cover;
        }

        .img-two{
            width: 440px;
            height: 594px;
            object-fit: cover;
        }
    }
}
