/* =============
    Footer
============= */

.footer-background{
    @include md{
        .footer-con{
            display: grid;
            grid-template-columns:50% 50%;
            grid-template-areas: 
                "locations sign-in";
        }

        .sm-text{
            font-size: 14px;
        }
    }

    @include lg{
        .footer-con{
            display: grid;
            grid-template-columns:1fr 1fr 1fr;
            grid-template-areas: 
                "locations sign-in follow";
        }

        .sm-text{
            font-size: 14px;
        }
    }
}