/* =============
    Header
============= */

.logo-box{
    background-color: #765FD4;
}

.logo{
    width: 133px;
    height: 59px;
}

.biggest-image{
    width: 100%;
}

.search-icon{
    width: 43px;
    height: 34px;
}